*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
}
#container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(100vh - 1000px);
}
#console{
    position: relative;
    display:flex;
    width: 1500px;
    min-height: 100px;
    height: 900px;
}
.canvas{
    position: absolute;
    height: 900px;
    top: 0;
    left: 0;
    width: 1500px;
    
}